

<samp>You Typed --> <%= params[:word].capitalize %></samp>
<div>
<% if @included %>
  <%if @is_valid %>
    <%= "Nice one!! Valid word" %>
  <% else %>
    <%= "Invalid word" %>
  <% end %>
<% else %>
  <%= "Words must include valid letters" %>
<% end %>
</div>

<div>
  <%= link_to "Play Again", new_path %>
</div>
